/dev/Wahlinfo/target/
/dev/Wahlinfo_webapp/target/
/dev/Wahlinfo_setup/target/
/dev/JavaApplication1/nbproject/private/
/dev/JavaApplication1/build/
/dev/JavaApplication2/nbproject/private/
/dev/JavaApplication2/build/
/dev/source code/Wahlinfo_webapp/target/
/Abgabe/source code/Wahlinfo_webapp/target/